#Pokecard {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#pokemon-card {
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

#pokemon-card tbody {
    width: 50%;
    justify-items: center;
}

#pokemon-card td {
    width: 200px;
    height: 50px;
}

.pokemon-card-value td:hover {
    background-color: #444444;
}

#tipo {
    height: 100%;
}

#tipo img{
    width: 100px;
}